* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html {
	background-color: #34495e;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	height: auto;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, black, transparent);
	border-radius: 8px;
}
