.form-container {
	margin: auto;
	width: auto;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.login-form {
	background-color: #191919;
	height: 350px;
	padding: 40px;
	text-align: center;
	width: 300px;
}

.login-form h2 {
	color: white;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	background-color: #191919;
	border: 3px solid #3498db;
	border-radius: 10px;
	color: white;
	font-size: 15px;
	margin: 20px auto;
	outline: none;
	padding: 14px 10px;
	text-align: center;
	transition: 0.25s;
	width: 200px;
}

.login-form button {
	background-color: #191919;
	border: 3px solid #3498db;
	border-radius: 10px;
	font-size: 15px;
	margin: 20px auto;
	outline: none;
	padding: 12px 10px;
	text-align: center;
	transition: 0.25s;
	width: 140px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
	border-color: #2ecc72;
	width: 280px;
}

.login-form button:hover {
	background-color: #3498db;
	color: white;
	cursor: pointer;
	transform: scale(1);
}

@media screen and (max-width: 980px) {
	.login-form {
		height: auto;
		width: auto;
		margin: auto;
	}
	.login-form input[type="text"],
	.login-form input[type="password"] {
		margin: 10px auto;
		padding: 6px 5px;
	}
	.login-form button {
		padding: 6px 5px;
		min-width: 40px;
		/* width: auto; */
	}
}
